@use 'variables';
@use 'mixins';

#blog {
  background-color: variables.$color-header;
  color: variables.$color-texto;

  img {
    border-radius: variables.$border-radius;
    @include mixins.box-shadow(#000, 6px);
  }

  .card {
    background-color: variables.$secondary-color;
    color: variables.$color-texto;
    border-radius: variables.$border-radius;
    @include mixins.box-shadow(#000, 6px);
  }

  h5 {
    font-size: variables.$font-size-large;
    margin-bottom: variables.$spacing-small;
  }

  p {
    font-size: variables.$font-size-base;
    line-height: 1.6;
  }

  .blog-article {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    background-color: variables.$color-fondo;
    border-radius: 5px;
    padding: 1rem;

    .blog-image img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }

    .blog-content {
      flex: 1;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: variables.$color-texto;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: variables.$color-texto;
        line-height: 1.5;
      }
    }
  }
}