@use 'variables';

#contacto {
  background-color: variables.$color-fondo;
  color: variables.$color-texto;

  .form {
    background-color: variables.$color-card;
    border: 1px solid variables.$color-borde;
    border-radius: variables.$border-radius;
    padding: 1rem;

    .form-label {
      color: variables.$color-texto;
      font-weight: bold;
    }

    .form-control {
      background-color: variables.$color-fondo;
      color: variables.$color-texto;
      border: 1px solid variables.$color-borde;
      border-radius: variables.$border-radius;
      padding: 0.5rem;

      &:focus {
        outline: none;
        border-color: variables.$color-hover;
      }
    }

    .btn {
      background-color: variables.$primary-color;
      color: variables.$color-texto;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: variables.$border-radius;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: variables.$color-hover;
      }
    }
  }
}
