.navbar {
  background-color: variables.$color-navbar;
  color: variables.$color-navbar;
  @include box-shadow(#000, 6px);

  a {
    color: variables.$color-texto;
    @include transition(color, 0.3s);

    &:hover {
      color: variables.$link-hover-color;
    }
  }
}