@use 'sass:color';
@use 'variables';
@use 'mixins';

#presupuestos {
  background-color: variables.$secondary-color; // Usa el prefijo 'variables.'
  color: variables.$color-texto; // Usa el prefijo 'variables.'

  .form-control {
    background-color: variables.$secondary-color;
    color: variables.$color-texto;
    border: 1px solid color.adjust(variables.$secondary-color, $lightness: 10%);
    border-radius: variables.$border-radius;

    &:focus {
      @include mixins.box-shadow(variables.$primary-color, 10px); 
    
    }
  }

  .btn {
    background-color: transparent;
    color: variables.$color-texto;
    border: 1px solid variables.$color-texto;
    padding: 0.5rem 1.5rem;
    border-radius: variables.$border-radius;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: variables.$color-texto;
      color: variables.$background-color;
    }
  }
}