@use 'sass:color';
@use 'variables';
@use 'mixins';

#presupuestos {
  background-color: variables.$secondary-color; // Fondo de la sección
  color: variables.$color-texto; // Color del texto principal

  .form-control {
    background-color: transparent; // Fondo transparente para inputs
    color: variables.$color-texto; // Texto blanco o claro
    border: 1px solid variables.$color-texto; // Bordes blancos
    border-radius: variables.$border-radius; // Bordes redondeados
    padding: 0.5rem;

    &:focus {
      outline: none;
      border-color: variables.$primary-color; // Cambia el color del borde al enfocar
      @include mixins.box-shadow(variables.$primary-color, 10px); // Sombra al enfocar
    }
  }

  .form-label {
    color: variables.$color-texto; // Texto blanco o claro para etiquetas
    font-weight: bold;
  }

  .form-text {
    color: color.adjust(variables.$color-texto, $lightness: 50%); // Texto muted en gris claro
    font-size: 0.9rem;
  }

  .btn {
    background-color: transparent; // Fondo transparente
    color: variables.$color-texto; // Texto blanco
    border: 1px solid variables.$color-texto; // Bordes blancos
    padding: 0.5rem 1.5rem;
    border-radius: variables.$border-radius; // Bordes redondeados
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: variables.$color-texto; // Fondo blanco al hacer hover
      color: variables.$primary-color; // Texto negro al hacer hover
    }
  }
}