@use 'variables';
@use 'mixins';
@use 'layout';
@use 'components';
@use 'responsive';

#proyectos {
  background-color: variables.$secondary-color;
  color: variables.$color-texto;

  .card {
    background-color: variables.$secondary-color;
    color: variables.$color-texto;
    border-radius: variables.$border-radius;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columnas iguales
    gap: 1.5rem; // Espaciado entre las cards
  }

  .project-card {
    background-color: variables.$color-fondo;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;

    .project-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    .project-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: variables.$color-texto;
    }

    .project-text {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: variables.$color-texto;
      line-height: 1.5;
    }
  }
}

.proyecto {
  background-color: variables.$secondary-color; // Usa el prefijo 'variables.'
  color: variables.$color-texto;
  border-radius: variables.$border-radius;
}

.bg-dark {
  background-color: variables.$secondary-color !important; // Usa el prefijo 'variables.'
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  #proyectos .projects-grid {
    grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas medianas
    gap: 1rem; // Reduce el espaciado
  }

  #proyectos .project-card {
    padding: 0.75rem;
  }

  #proyectos .project-title {
    font-size: 1.25rem; // Reduce el tamaño del título
  }

  #proyectos .project-text {
    font-size: 0.9rem; // Reduce el tamaño del texto
  }
}

@media (max-width: 768px) {
  #proyectos .projects-grid {
    grid-template-columns: 1fr; // 1 columna en pantallas pequeñas
    gap: 0.75rem; // Reduce aún más el espaciado
  }

  #proyectos .project-card {
    padding: 0.5rem;
  }

  #proyectos .project-title {
    font-size: 1rem; // Reduce aún más el tamaño del título
  }

  #proyectos .project-text {
    font-size: 0.85rem; // Reduce aún más el tamaño del texto
  }
}