@use 'variables';

@media (max-width: 768px) {
  #sobre-mi .col-md-6,
  #proyectos .col-md-4,
  #blog .col-md-6 {
    max-width: 100%;
  }

  #sobre-mi .row,
  #proyectos .row,
  #blog .row {
    flex-direction: column;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-img {
    width: 100%;
    max-width: 300px;
  }
}