// Variables globales
$secondary-color: #f0f0f0; // Define primero $secondary-color
$background-color: $secondary-color;
$primary-color: #252424;
$border-radius: 5px;
$ancho-maximo: 1200px;
$color-fondo: #121212;
$color-header: #252424;
$color-borde: #cccccc;
$font-size-large: 1.5rem;
$font-size-base: 1rem;
$spacing-small: 0.5rem;
$color-navbar: #252424;
$color-hover: #acacac; // Color para hover
$color-card: #2c2c2c; // Color para las tarjetas
$color-texto: #e0e0e0; // Color del texto


