// Variables globales
$background-color: #121212; // Fondo oscuro
$text-color: #ffffff;       // Texto claro
$primary-color: #007bff;    // Color principal
$secondary-color: #2c2c2c;  // Fondo secundario
$border-radius: 8px;        // Bordes redondeados

// Colores
$color-fondo: #1e1e1e; // Fondo oscuro
$color-texto: #fff;    // Texto blanco
$color-navbar: #1c1c1c;
$color-enlace: #0465c7;
$color-enlace-hover: #00bfff;
$color-hover: #333;    // Color para hover
$color-header: #1f1f1f;
$color-card: #2c2c2c;
$color-form: #4b4b4b;
$color-input-border: #666;
$color-btn-hover: #ccc;
$color-btn-focus: rgba(0, 123, 255, 0.5);
$color-borde: #fff;    // Bordes blancos

// Otros estilos
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;
$ancho-maximo: 1200px; // Define el valor de la variable