// Importar variables primero
@use 'variables';

// Importar mixins
@use 'mixins';

// Importar estilos base
@use 'base';

// Importar estilos de secciones específicas
@use 'sobremi';
@use 'proyectos';
@use 'blog';
@use 'presupuestos';
@use 'contacto';

// Importar estilos de layout y componentes
@use 'layout';
@use 'components';

// Importar estilos responsivos
@use 'responsive';

.bg-dark {
  background-color: variables.$secondary-color !important;
}

.text-light {
  color: variables.$color-texto !important;
}

.btn-outline-light {
  color: variables.$color-texto;
  border: 1px solid variables.$color-borde;
  @include mixins.transition(background-color, color);

  &:hover {
    background-color: variables.transition($color-borde, 0.1);
    color: variables.$color-texto;
    color: #000;
  }
}

.btn-cta {
  @include button-styles(#252424, #fff);
  border: 2px solid #fff;
  @include mixins.box-shadow(#000, 6px);
}

.container {
  max-width: variables.$ancho-maximo; // Usa el prefijo 'variables.'
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: slideInFromLeft 1.5s ease-in-out;
  }
}

.sobre-mi {
  max-width: variables.$ancho-maximo; // Usa el prefijo 'variables.'
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-img {
    width: 100%;
    max-width: 300px;
  }
}