// Importar variables primero
@use 'variables';

// Importar mixins
@use 'mixins';

// Importar estilos base
@use 'base';

@use 'sass:color';

// Importar estilos de secciones específicas
@use 'sobremi';
@use 'proyectos';
@use 'blog';
@use 'presupuestos';
@use 'contacto';

// Importar estilos de layout y componentes
@use 'layout';
@use 'components';
@use 'navbar';

// Importar estilos responsivos
@use 'responsive';

$color-header: #f5f5f5;
$color-texto: #e0e0e0;
$color-borde: #cccccc;
$ancho-maximo: 1200px;

body {
  background-image: url('../img/background_img.jpg'); // Ruta relativa a la imagen
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen al fondo */
  background-position: center; /* Centra la imagen */
  color: variables.$color-texto; /* Mantén el color del texto */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.bg-dark {
 background-image: url('../img/background_img.jpg');
}

.text-light {
  color: variables.$color-texto !important;
}

.btn-outline-light {
  color: variables.$color-texto;
  border: 1px solid variables.$color-borde;
  @include mixins.transition(background-color, color);

  &:hover {
    background-color: color.adjust(variables.$color-borde, $lightness: 10%);
    color: variables.$color-texto;
}

.btn-cta {
  background-color: variables.$primary-color; // Color de fondo principal
  color: variables.$color-texto; // Color del texto
  padding: 0.75rem 1.5rem; // Tamaño del botón
  border-radius: variables.$border-radius; // Bordes redondeados
  text-decoration: none;
  font-size: 1rem; // Tamaño del texto
  font-weight: bold;
  border: 2px solid variables.$primary-color; // Borde del mismo color que el fondo
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra para destacar el botón
  transition: all 0.3s ease;

  &:hover {
    background-color: variables.$color-hover; // Fondo blanco al hacer hover
    color: variables.$primary-color; // Texto del color principal al hacer hover
    transform: scale(1.05); // Aumenta apenas el tamaño del botón
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); // Sombra más intensa al hacer hover
  }

  i {
    margin-right: 0.5rem; // Espaciado entre el ícono y el texto
  }
}

.container {
  max-width: variables.$ancho-maximo; // Usa el prefijo 'variables.'
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: slideInFromLeft 1.5s ease-in-out;
  }
}

.sobre-mi {
  max-width: variables.$ancho-maximo; // Usa el prefijo 'variables.'
  margin: 0 auto;
}

  .about-text {
    color: variables.$color-texto;
  }

  .about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
  }

  .btn-cta {
    display: inline-block;
    margin-top: 1rem; // Espacio pequeño respecto a la tarjeta
    margin-bottom: 2rem; // Espacio respecto al footer
    background-color: variables.$primary-color;
    color: variables.$color-texto;
    padding: 0.75rem 1.5rem;
    border-radius: variables.$border-radius;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid variables.$primary-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background-color: variables.$color-hover;
      color: variables.$primary-color;
      transform: scale(1.05);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.card {
  border: none;
  border-radius: 5px;
  background-color: variables.$color-card;
  color: variables.$color-texto;
  @include mixins.box-shadow(#000, 6px);
}

#blog {
  background-color: variables.$color-fondo;
  color: variables.$color-texto;
  padding: 2rem 0;

  .blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Ajusta el número de columnas automáticamente
    gap: 1.5rem; // Espaciado entre las cards
  }

  .blog-card {
    background-color: variables.$color-card;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .blog-image {
      width: 100%;
      height: 200px;
      object-fit: cover; // Asegura que las imágenes tengan el mismo tamaño
    }

    .blog-content {
      padding: 1rem;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: variables.$color-texto;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: variables.$color-texto;
        line-height: 1.5;
      }

      a {
        background-color: transparent;
        color: variables.$color-texto;
        border: 1px solid variables.$color-texto;
        padding: 0.5rem 1.5rem;
        border-radius: variables.$border-radius;
        font-size: 1rem;
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: variables.$color-hover; // Fondo blanco al hacer hover
          color: variables.$primary-color; // Texto negro al hacer hover
        }
      }
    }
  }
}

#proyectos {
  background-color: variables.$color-fondo;
  color: variables.$color-texto;
  padding: 2rem 0;

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Ajusta el número de columnas automáticamente
    gap: 1.5rem; // Espaciado entre las cards
  }

  .project-card {
    background-color: variables.$color-card;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .project-img {
      width: 100%;
      height: 200px;
      object-fit: cover; // Asegura que las imágenes tengan el mismo tamaño
    }

    .project-content {
      padding: 1rem;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: variables.$color-texto;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: variables.$color-texto;
        line-height: 1.5;
      }
    }
  }

  .btn {
    background-color: transparent;
    color: variables.$color-texto;
    border: 1px solid variables.$color-texto;
    padding: 0.5rem 1.5rem;
    border-radius: variables.$border-radius;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: variables.$color-hover; // Fondo blanco al hacer hover
      color: variables.$primary-color; // Texto negro al hacer hover
    }
  }
}

h1 {
  animation: bounceIn 1.5s ease-in-out; // Aplica la animación a todos los h1
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-img {
    width: 100%;
    max-width: 300px;
  }
}

@mixin box-shadow($color, $size) {
  box-shadow: 0 0 $size $color; 
}
